/*//// RESET /////*/
/*///////////////*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126  |  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	line-height: inherit;
	vertical-align: baseline;
	display: block;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	background: #ffffff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------------------------------------------------------------*/
/*//// START CUSTOM STYLES ////*/
/*---------------------------------------------------------------*/

.ph {
	background: #eeeeee;
}
.ph2 {
	background: #cccccc;
}
ul.inline-ul li {
	display: inline-block;
	padding:5px;
}

/*//// GRID ////*/
/*/////////////*/
.col-half {
	
}

.col-quarter {
	
}


/*//// BASE TYPE ////*/
/*//////////////////*/
h1, h2, h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin: 1rem 0;
}

h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	margin: 0.5rem 0;
}

body, div, span, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, var,
b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed, figcaption, footer, header, menu, nav, output, section, summary,
time, mark {
	font-family: 'Palanquin', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 3rem;
	line-height: 3rem;
}

h2 {
	font-size: 2rem;
	line-height: 2rem;
}

h3 {
	font-size:1.5rem;
	line-height: 2rem;
}

h4 {
	font-size: 1.5rem;
	line-height: 1.5rem;
}

h5 {
	font-size: 1.25rem;
	line-height: 1.5rem;
}

h6 {
	font-size: 1rem;
	line-height: 1.25rem;
}

/*//// GLOBAL SECTIONS ////*/
/*////////////////////////*/

/*------- NAV -------*/
#global-nav {
	margin: 1.5rem 1rem 0 1rem;
	padding:0 0 1rem 0;
	position: auto;
	border-bottom: 1px solid #cccccc;
}

#global-nav .col-half {
	display: inline-block;
	width: 40%;
}

#global-nav ul {
	width: auto;
	display: inline-block;
	position: absolute;
	right:1rem;
}

#global-nav ul li {
	display: inline-block;
	padding: 0.75rem;
	background: none;
	color: #56a18b;
	font-weight: 700;
}

/*------ FOOTER -------*/
footer {
	border-top: 1px solid #cccccc;
	padding: 2rem;
}

/*//// ELEMENTS ////*/
/*/////////////////*/
.wrapper {
	padding:2rem;
}

.button {

	display: block;
	padding:24px;
	width:auto;
	background: #56a18b;
	color:#ffffff;
	font-family: inherit;
	font-size: 1.2em;
	font-weight: 400;
}

a, a.link, .link {
	color:#56a18b;
	text-decoration: underline;
	display: inline;
}

a:hover, a:hover.link, .link:hover {
	color:#2b5146;
}

a:visited, a:visited.link, .link:visited {
	color:#9ac7b9;
}

p {
	margin:1rem 0;
	font-size: 1rem;
	line-height: 1.5rem;
}

p.txt-lrg {
	font-size: 1.5rem;
	line-height: 1.75rem;
}

q {
	padding:2rem;
	font-size: 1.5rem;
	line-height: 1.75rem;
	font-weight: 300;
}

/*//// SPACING, PADDING, MARGINS ////*/
/*//////////////////////////////////*/



/*//// @MEDIA /////*/
/*///////////////*/

/* use this to set width to viewport for IE */
@-ms-viewport{
  width: device-width;
}
