/*//// RESET /////*/
/*///////////////*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126  |  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	line-height: inherit;
	vertical-align: baseline;
	display: block;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	background: #ffffff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------------------------------------------------------------*/
/*//// START CUSTOM STYLES ////*/
/*---------------------------------------------------------------*/
html, body {
	position: relative;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.ph {
	background: #eeeeee;
}
.ph2 {
	background: #cccccc;
}


/*//// GRID ////*/
/*/////////////*/
.wrapper {
	padding:2rem;
}

.col-half {
	width: 60%;
	display: inline-block;
	vertical-align: top;
	
}

.col-quarter {
	
}

/*///// COLORS //////*/
/*//////////////////*/
/* green: #56a18b 
*/


/*//// BASE TYPE ////*/
/*//////////////////*/
h1, h2, h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin: 1rem 0;
}

h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin: 0.5rem 0;
}

body, div, span, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, var,
b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed, figcaption, footer, header, menu, nav, output, section, summary,
time, mark {
	font-family: 'Palanquin', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 3rem;
	line-height: 3rem;
}

h2 {
	font-size: 1.75rem;
	line-height: 2.25rem;
}

h3 {
	font-size:1.25rem;
	line-height: 2rem;
}

h4 {
	font-size: 1.25rem;
	line-height: 2rem;
}

h5 {
	font-size: 1rem;
	line-height: 1.5rem;
}

h6 {
	font-size: 0.85rem;
	line-height: 1.25rem;
}

p {
	font-size: 1rem;
	line-height: 1.5rem;
}

p.txt-lrg {
	font-size: 1.5rem;
	line-height: 2rem;
}

p.txt-mid {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

p.txt-small {
	font-size: .75rem;
	line-height: 1.4rem;
}


/*//// GLOBAL SECTIONS ////*/
/*////////////////////////*/

/*------- NAV -------*/
#global-nav {
	margin: 1.5rem 1rem 0 1rem;
	padding:0 0 1rem 0;
	position: auto;
	border-bottom: 1px solid #cccccc;
}

#global-nav .col-half {
	display: inline-block;
	width: 40%;
}

#global-nav ul {
	width: auto;
	display: inline-block;
	position: absolute;
	right:1rem;
}

#global-nav ul li {
	display: inline-block;
	padding: 0.75rem;
	background: none;
	color: #56a18b;
	font-weight: 700;
}

/*------ FOOTER -------*/
footer {
	margin: 1rem 0 0 0;
	padding: 2rem;	
	border-top: 1px solid #cccccc;
}


/*//// ELEMENTS ////*/
/*/////////////////*/

/* Buttons & Links */
.button {

	display: block;
	padding:24px;
	width:auto;
	background: #56a18b;
	color:#ffffff;
	font-family: inherit;
	font-size: 1.2em;
	font-weight: 400;
	text-align: center;
}

a, a.link, .link {
	color:#56a18b;
	text-decoration: underline;
	display: inline;
}

a:hover, a:hover.link, .link:hover {
	color:#2b5146;
}

a:visited, a:visited.link, .link:visited {
	color:#9ac7b9;
}

/* text elements */
p {
	margin:1rem 0;
}

q {
	padding:2rem;
	font-size: 1.5rem;
	line-height: 1.75rem;
	font-weight: 300;
}

.fancy-text p {
	display: inline;
	white-space: pre-wrap;
	background: #ffffff;
	box-shadow: 10px 0 0 #ffffff, -10px 0 0 #ffffff;
	padding: 0rem;
	line-height: 2.15rem;
}

/* images and icons */
img {
	display: inline-block;
	width: 100%;
}


/*//// PADDING, MARGINS, POSITIONING ////*/
/*//////////////////////////////////////*/






/*//////// LAYOUT MODULES ///////////*/
/*//////////////////////////////////*/

/* Skills Block */
ul.skills-block, ul.skills-block li {
	display: inline-block;
}

ul.skills-block li {
	margin: .25rem 0;
	padding: .25rem;
	font-size: .9rem;
	line-height: 1.2rem;
	background: #eeeeee;

}

/* Center Text Box - Full Width */
.center-box_full {
	padding: 2rem;
}

/* Center Text Box - Contain */
.center-box_contain {
	margin: 1rem;
	padding: 2rem; 
}

/* Half & Half - Image & Text */
.half-half {
	position: relative;
}

.half-half .img {
	width: 100%;
	display: inline-block;
	margin-left: -40%;
	position: relative;
	overflow: hidden;
}

.half-half .text {
	width: 60%;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	right:2rem;
}

/* Classic Stack */
.classic-stack {
	margin:1rem;
}

.classic-stack .text {
	margin:1rem;
}

/* Image w Overlay - Full Width */
.img-overlay_full {
	position: relative;
}

.img-overlay_full .text {
	position: absolute;
	top:1rem;
	z-index: 1000;
	margin:2rem;
}

/* Image w Overlay - Contained */
.img-overlay_contain {
	position: relative;
	margin: 1rem;
}

.img-overlay_contain .text {
	position: absolute;
	top:1rem;
	z-index: 1000;
	margin:2rem;
}

/* 3 Col w Image Blocks */
.imgs_3-col {
	margin:1rem -4rem;
}

.imgs_3-col .img {
	width:30%;
	margin:.3rem;
	display: inline-block;
	vertical-align: baseline;
}

/* 2 Col w Image Blocks */
.imgs_2-col {
	margin:1rem -4rem;
}

.imgs_2-col .img {
	width:45%;
	margin:.3rem;
	display: inline-block;
	vertical-align: baseline;
}

/* 1 Col w Image Blocks */
.imgs_1-col {
	margin:1rem;
}

.imgs_1-col .img {
	margin:.25rem 0;
}

/* Client Quote */
.client-quote {
	padding: 2rem;
}

.pros-cons {
	margin: 1rem;
	padding: 2rem;
}

.pros {

}

.cons {

}

/* Related Projects */
.proj-related {
	margin:1rem;
}

/* Project Cards */
.proj-card {
	margin:.5rem 0;
}

.card-front {
	display: block;
	position: relative;
}

.card-front h3 {
	position: absolute;
	display: inline-block;
	bottom: 1rem;
	margin: 0 1rem;
	padding: 1rem;
	white-space: pre-wrap;
	background: #ffffff;
}

.card-back {
	position: relative;
	padding:2rem;
	background: #56a18b;
	color: #ffffff;
}

.card-back p {
	margin: 0;
	padding: 0;
}

.card-back a {
	display: block;
	width: auto;
	margin: 1rem 0 0 0;
	padding: .5rem;
	border: 2px solid #ffffff;
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	text-align: center;

}














/*//// @MEDIA /////*/
/*///////////////*/

/* use this to set width to viewport for IE */
@-ms-viewport{
  width: device-width;
}
