/*//// RESET /////*/
/*///////////////*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126  |  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	line-height: inherit;
	vertical-align: baseline;
	display: block;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	background: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------------------------------------------------------------*/
/*//// START CUSTOM STYLES ////*/
/*---------------------------------------------------------------*/
html, body {
	position: relative;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.ph {
	background: #eeeeee;
}
.ph2 {
	background: #cccccc;
}

.hidden {
	visibility: hidden;
}

.flip-img {
	position: fixed;
}

/*//// GRID ////*/
/*/////////////*/
.bg-wrapper, .content-wrapper {
	position: relative;
	width: auto;
	display: block;
	font-size:0;
}

.bg-wrapper {
	margin: 0 0;
	padding: 0 0;
}

.content-wrapper {
	margin: 0 0;
	padding: 1.4rem;
}

.col-2 {
	width: 50%;
	display: inline-block;
	font-size:inherit;
	vertical-align: top;
}

.col-3 {
	width:33%;
	display: inline-block;
	font-size: inherit;
	vertical-align: top;
}

.col-4 {
	width: 25%;
	display: inline-block;
	font-size:inherit;
	vertical-align: top;
}

.col-5 {
	width: 20%;
	display: inline-block;
	font-size: inherit;
	vertical-align: top;
}

.col-6 {
	width:16%;
	display: inline-block;
	font-size: inherit;
	vertical-align: top;
}

/*///// COLORS //////*/
/*//////////////////*/
/* 
	dark-green: #2b5146;
	green: #56a08b
	light green: #9ac7b9;
	lightest green: #ddece8;
	black: #333333;
*/


/*//// BASE TYPE ////*/
/*//////////////////*/
h1, h2, h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	margin: 1rem 0;
}

h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	margin: 0.5rem 0;
}

body, div, span, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, var,
b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed, figcaption, footer, header, menu, nav, output, section, summary,
time, mark {
	font-family: 'Palanquin', sans-serif;
	font-weight: 300;
	font-size:1rem;
	line-height: 1.6rem;
}

h1 {
	font-size: 2rem;
	letter-spacing: -0.5;
	line-height: 2.5rem;
}

h2 {
	font-size: 1.5rem;
	line-height: 2.25rem;
}

h3 {
	font-size:1.25rem;
	line-height: 2rem;
}

h4 {
	font-size: 1.15rem;
	line-height: 2rem;
}

h5 {
	font-size: 1rem;
	line-height: 1.5rem;
}

h6 {
	font-size: 0.85rem;
	line-height: 1.25rem;
}

p {
	font-size: 1rem;
	line-height: 1.6rem;
}

.txt-lrg {
	font-size: 1.35rem;
	line-height: 2rem;
}

.txt-mid {
	font-size: 1.15rem;
	line-height: 1.75rem;
}

.txt-small {
	font-size: .75rem;
	line-height: 1.4rem;
}


/*//// ELEMENTS ////*/
/*/////////////////*/
.wrapper {
	width: 100vw;
	height: auto;
	background: #ffffff;
}

/* Buttons & Links */
.button, a.button {
	display: block;
	padding:24px;
	width:auto;
	background: #56a18b;
	color:#ffffff;
	text-decoration: none;
	font-family: inherit;
	font-size: 1.2em;
	font-weight: 400;
	text-align: center;
}

.button:hover, a.button:hover {
	background: #9ac7b9;
	color: #ffffff;
}

.button:visited, a.button:visited {
	background: #9ac7b9;
	color: #ffffff;
}

a.link, .link {
	color:#56a08b;
	text-decoration: underline;
	display: inline;
}

a:hover, a:hover.link, .link:hover {
	color:#2b5146;
}

a:visited, a:visited.link, .link:visited {
	color:#9ac7b9;
}

svg.arrow-down {
	width: 26px;
	display: block;
}

svg.arrow-right {
	width: 26px;
	display: inline-block;
	transform: rotate(-90deg);
}

/* text elements */
p {
	margin:1rem 0;
}

q {
	padding:0;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 300;
}

.fancy-text  p {
	display: inline;
	background: #ffffff;
	box-shadow: 10px 0 0 #ffffff, -10px 0 0 #ffffff;
	padding: 0rem;
	line-height: 2.15rem;
}

.floating-card  {
	display: block;
	background: #ffffff;
	box-shadow: -1px 3px 5px rgba(0,0,0,0.1);
	padding:1rem;
}

/* images and icons */
img {
	display: inline-block;
	width: 100%;
}


/*//// GLOBAL SECTIONS ////*/
/*////////////////////////*/

/*------- NAV -------*/
#global-nav {
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	z-index: 300;
	text-align: right;
}

#global-nav ul {
	width: auto;
	display: inline-block;
	position: relative;
	text-align: right;
	padding: 1.4rem;
}

#global-nav ul li {
	display: inline-block;
	position: relative;
	width: auto;
	padding: 0.2rem .75rem;
	background: #56a18b;
	color: #ffffff;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}

#global-nav ul li:nth-child(1) {
	margin: 0 0.5rem;
}

#global-nav .mobile-nav {
	width: 2.4rem;
	height: 2.4rem;
	position: absolute;
	right: 1.4rem;
	top: 1.4rem;
	z-index: 400;
	background: #56a18b;
	border: 1px solid #ffffff;
}

#global-nav .nav-inner {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	background: #ffffff;
}

#global-nav .nav-inner .content-wrapper {
	text-align: center;
	padding-top: 3rem;
}

#global-nav .nav-inner .content-wrapper a {
	display: block;
	/*padding: 22px 0;*/
	text-decoration: none;

}

#global-nav .nav-inner .content-wrapper .divider{
	height: 1px;
	background: #56a18b;
}

/*------ FOOTER -------*/
footer {
	margin: 0;
	padding: 1rem 1rem 2rem 1rem;	
	background: #333333;
	border-top: 1px solid #cccccc;
	text-align: center;
	color: #bbbbbb;
}

footer a {
	display: block;
	padding: 1rem;
	margin:.5rem 0;
	font-size: 1.5rem;
	text-align: center;
	text-decoration: none;
}

footer div {
	border-top: 1px solid #cccccc;
	padding: 1rem 0 0 0;
}


/*//// PADDING, MARGINS, POSITIONING ////*/
/*//////////////////////////////////////*/



/*//////// LAYOUT MODULES ///////////*/
/*//////////////////////////////////*/
/* cover */
.bg-wrapper {
	height: 100vh;
	width: 100vw;
}

.bg-wrapper.cover  {
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.cover h1, .cover h2 {
	color: #ffffff;
	margin: 0;
}

.cover .content-wrapper {
	height: auto;
	position: absolute;
	bottom: 2rem;
}

/* Intro */
.bg-wrapper.intro {
	margin: 100vh 0 0 0;
	background: #56a08b;
	color: #ffffff;
}

.bg-wrapper.intro .label {
	text-transform: uppercase;
}


/* Client Quote */
.client-quote {
	margin: 1.4rem 0;
	padding: 1.4rem;
	background-color: #ddece8;
	border: 1px #333333 solid;
}

.client-quote span {
	display: block;
	margin: 0 0 0.4rem 0;
}

/* Pros v Cons */
.pros-cons {
	margin: 1rem;
	padding: 2rem;
	background: #333333;
	color: #ffffff;
}

.pros {

}

.cons {
	border-bottom: 1px solid #ffffff;
}

/* Related Projects */



/* Project Cards */
.nav-inner .project-card {
	background: none;
	color: #56a08b;
	margin: 1px 0 0 0;
	padding: 1rem 0 0 0;
	position: relative;
}

.nav-inner .project-card::after {
	content: '';
	display: block;
	width: 100px;
	height: 1px;
	margin: 1rem auto 0 auto;
	background: #56a08b;
}

#index .projects .project-card {
	background: #333333;
	color: #56a08b;
	margin: 1px 0 0 0;
	padding: 1.4rem;
	position: relative;
}

#index .projects .project-card svg {
	position: absolute;
	right: 1.4rem;
	bottom: 1.6rem;
}

#index .projects a {
	text-decoration: none;
}


/*/////// PROJECT PAGES ////////*/
/*/////////////////////////////*/
/* Index */
#index .bg-wrapper.projects, #index .bg-wrapper.about-contact {
	background: #ffffff;
}

#index .bg-wrapper.cover  {
	background: url('../images/index-bg.png');
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

#index .bg-wrapper.cover::after {
	content: '';
	background: #56a08b;
	opacity: .75;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
}

#index .index-logo {
	padding: 0 22% 1.4rem 22%;
}

#index .bg-wrapper.projects {
	margin: 100vh 0 0 0;
	background: #ffffff;
}

#index .about-me {
	padding: 0 0 4rem 0;
	border-bottom: 1px solid #56a08b;
}

#index .contact {
	margin: 4rem 0 0 0;
	text-align: center;
}

#index .contact .arrow-down {
	margin: 1rem auto;
}

/* MBHP */
#proj-mbhp .bg-wrapper.cover {
	background: red;
}


/*//// @MEDIA /////*/
/*///////////////*/

/* use this to set width to viewport for IE */
@-ms-viewport{
  width: device-width;
}
